MovieDB RCDATA "..\\Grafica\\408x161-powered-by-rectangle-green-bb4301c10ddc749b4e79463811a68afebeae66ef43d17bcfd8ff0e60ded7ce99.png"
TVDB RCDATA "..\\Grafica\\logo1.png"
FilmIcon RCDATA "..\\Grafica\\MovieIcon.png"
NoPhoto RCDATA "..\\Grafica\\NoPhoto.png"
TVIcon RCDATA "..\\Grafica\\TVShowIcon.png"
